html
    head
        title Authorization Request - Aldebaran GLOW
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap")
    body
        article(class="centered")
            span(id="bg")
                span(id="header")
                    img(src="/img/alde.png")
                    span(id="title") Aldebaran
                    span(id="glow") GLOW
                span(id="appxuser")
                    span(id="app")
                        span(class="concerned") The application
                        img(src=app.avatar, class="center")
                        span(class="concernedname bold")= app.name
                    span(id="user")
                        span(class="concerned") The user (you)
                        img(src=user.avatar, class="center")
                        span(class="concernedname bold")= user.name
            span(id="important")
                div An application is requesting access to a part of your Aldebaran's data.
                br
                span(id="able")
                    div
                        span(id="appname")= app.name
                        span  will be able to
                    each val in able
                        div
                            span(class="point")  • 
                            span= val
                br
                span(id="notable")
                    div
                        span(id="appname")= app.name
                        span  will not be able to
                    div
                        span(class="point")  • 
                        span have access to your Discord account
            span(id="buttons")
                a(href="/api/oauth/authorize?success=true&response_type=code&client_id=" + app.id + "&scope=" + scope + "&redirect_uri=" + redirect_uri + "&state=" + state + "&session=" + session)
                    span(id="authorize") Authorize
                a(href=redirect_uri + "?error=access_denied")
                    span(id="refuse") Refuse